.dashboard {

    &__navigation {
        padding: 2rem 2rem 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__summary {
        padding: 0 2rem;
        display: flex;
        // gap:rem;
        justify-content: space-between;
    }

    &__chart {
        padding:2rem;
    }
}